body {
  scroll-behavior: smooth;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #173837;
}

.navbar-brand {
  color: #fff !important; /* Warna teks normal */
  font-size: 26px;
}

.nav-link.active {
  color: #fff;
  font-size: 16px;
  margin-left: 20px;
}

.nav-link {
  color: #b5cfce;
  font-size: 16px;
  margin-left: 20px;
}

/* Gaya hover untuk navbar link */
.nav-link:hover {
  color: #7cf4f0a9 !important;
}

.section {
  padding: 85px 0;
}

#home {
  background-color: #17383727;
  height: 370px;
}

#home img {
  margin-top: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.272);
}

h5 {
  color: #186b64;
}

#portfolio {
  background-color: #17383727;
}

.card {
  position: relative;
  height: 260px;
}

.card-text {
  color: #1e635f;
}

.col-md-4 {
  margin-bottom: 10px; /* Jarak tambahan di bawah setiap kolom untuk jarak vertikal */
}

.card img {
  height: 180px;
  object-fit: cover;
  transition: transform 0.3s ease; /* Animasi saat transformasi (zoom in/out) */
}

.card:hover img {
  transform: scale(1.3);
  z-index: 10; /* Pastikan gambar yang di-hover berada di atas gambar lainnya */
  position: relative; /* Membuat z-index berfungsi pada elemen ini */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Tambahkan shadow saat hover */
}

#contactForm {
  width: 100%; /* Lebar form menjadi 100% dari parent container */
  max-width: 500px; /* Lebar maksimal form */
  margin: 0 auto; /* Center form di dalam container */
}

footer {
  background-color: #173837;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.text-highlight {
  color: #94dfdd;
}
